@each $imagen, $ext in $fondos{
    .imagenFondo#{$imagen}{
        background-image: url(../img/#{$imagen}.#{$ext});
        background-repeat: no-repeat;
        background-size: cover;
        @if $imagen != $fondoPrincipal {
            background-position: center;
        }
    }
}

/* .imagenFondoInicio{
    background-image: url(../img/gym.jpg);
    background-repeat: no-repeat;
    background-size: cover;     
}

.imagenFondoNosotros{
    background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imagenFondoEntrenamientos{
    background-image: url(../img/entrenamientos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imagenFondoTienda{
    background-image: url(../img/tienda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.imagenFondoContacto{
    background-image: url(../img/contacto.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}
 */